<h2>Intro</h2>
<p>Splittask is a minimalist project management platform its focused on high productivity.
Splittask is built on three concepts: Organizations, Timelines and Posts, these entities
play a versatile role when modeling your business workflow. </p>
<h3>Organization Creation</h3>
<p>An organization can contain timelines, timelines can contain posts and posts hold comments.</p>
<p>Organizations can play different roles: Business Branch, Team, Project, Kanban Board ...
It all depends on your power of abstraction, necessity of controlling information and business's field.</p>
<p>After your signup you should have a default organization. For creating new organizations
just click on the Home link from the index page. You would be able to view a menu entry
whose name is your main organization. </p>
<p><img alt="organization-creation-0" src="/static/help/organization-creation-0.png" /></p>
<p>You can then click on create it would lead you to:</p>
<p><img alt="organization-creation-1" src="/static/help/organization-creation-1.png" /></p>
<h3>Timeline Creation</h3>
<p>You can create timelines for two kind of purposes: Task delegation, sharing information.
A timeline can be a big task itself.</p>
<p>After your organization creation it is time to create the timelines
over which tasks and information will be shared. </p>
<p>For such, click on Home from the index page then:</p>
<p><img alt="timeline-creation-0" src="/static/help/timeline-creation-0.png" /></p>
<p>You would get:</p>
<p><img alt="timeline-creation-1" src="/static/help/timeline-creation-1.png" /></p>
<h3>Post Creation</h3>
<p>A post can be a task or just a piece of information. You create a post, attach
the necessary content for the task execution then assign it to someone.</p>
<p>Imagine you have created a timeline named Todo. Access it by clicking
on the link of it. </p>
<p><strong>Tip:</strong> You can open it over another browser tab by
right clicking and opening in a new tab option. It is useful
sometimes to refer a timeline by its link. </p>
<p><img alt="post-creation-0" src="/static/help/post-creation-0.png" /></p>
<p>After clicking on the timeline link you would get:</p>
<p><img alt="post-creation-1" src="/static/help/post-creation-1.png" /></p>
<p>From there you can access the most common timeline tools. </p>
<p>Timeline posts contain a label that is a short description of the task/post.
It optionally can carry markdown content. You can attach multiple files to a given post.</p>
<p><img alt="post-creation-2" src="/static/help/post-creation-2.png" /></p>
<h3>Post Comments</h3>
<p>Comments can be used for several kind of purposes. The comments in splittask
are viewed in a modal window thus allowing a separation between primary content
and secondary content.</p>
<p>Once a post is created you would be able to view it rendered on its timeline:</p>
<p><img alt="post-comments-0" src="/static/help/post-comments-0.png" /></p>
<p>Just click on the comment link you would get:</p>
<p><img alt="post-comments-1" src="/static/help/post-comments-1.png" /></p>
<h3>Tasks</h3>
<p>A post plays a dual role in Splittask, it can be used for conveying information or
for conveying instructions for a task execution.</p>
<p>A post turns into a task when it is assigned to someone. It is possible to assign
a post to multiple workers.</p>
<p>In the post toolbar there is a link named Assign, click on it.</p>
<p><img alt="tasks-0" src="/static/help/tasks-0.png" /></p>
<p>Then you would be able to view:</p>
<p><img alt="tasks-1" src="/static/help/tasks-1.png" /></p>
<p>From there you can search through all your organization users by using
multiple attributes like user tag, e-mail or name.</p>
<p>You can assign a given post to someone who is not belonging to the post's timeline
as well. The worker gets notified after being assigned to the post and it will be
listed on the post Workers section. </p>
<p><img alt="tasks-2" src="/static/help/tasks-2.png" /></p>
<p>It is possible to list all your tasks by clicking on the link Tasks from the index page.</p>
<p><img alt="tasks-3" src="/static/help/tasks-3.png" /></p>
<h4>Task Notification</h4>
<p>When a task is assigned to an worker, it gets notified through the platform but
sometimes it is useful to drop an e-mail to the worker, for such just press on the
worker link name:</p>
<p><img alt="tasks-2" src="/static/help/tasks-2.png" /></p>
<p>Click on request attention through e-mail:</p>
<p><img alt="task-notification-0" src="/static/help/task-notification-0.png" /></p>
<p>Then fill the form with an e-mail message:</p>
<p><img alt="task-notification-1" src="/static/help/task-notification-1.png" /></p>
<h3>Forks</h3>
<p>Posts can be forked into sub posts, it is a powerful tool for maximizing efficiency
of a complex task execution. In splittask you can fork a given post over multiple
timelines. </p>
<p>After clicking on:</p>
<p><img alt="forks-0" src="/static/help/forks-0.png" /></p>
<p>From the post toolbar, you would get a list of available timelines where the post
fork would stay on.</p>
<p><img alt="forks-1" src="/static/help/forks-1.png" /></p>
<p>Select the desired timeline then fill the post fields.
Once you have created the fork then the parent post will be available
on the fork.  </p>
<p><img alt="forks-2" src="/static/help/forks-2.png" /></p>
<p>If you click on the parent post link then you'll view the parent
post in detached view from its timeline.</p>
<p><img alt="forks-3" src="/static/help/forks-3.png" /></p>
<p>You can go through a given post subtasks easily using this approach.</p>
<h3>Markdown in Posts</h3>
<p>Splittask uses github flavoured markdown, for more information: <a href="https://guides.github.com/features/mastering-markdown/">Markdown Help</a> </p>
<h3>Events</h3>
<p>Splittask has a powerful event system, whatever it happens you'll be notified. Events
generall carry information that characterizes the event: User, Posts, Timelines etc.</p>
<p><img alt="events-0" src="/static/help/events-0.png" /></p>
<p>If you click on an event post/timeline link then it gets rendered and you can check what's going on.</p>
<p><strong>Tip:</strong> You can open the event related posts/timelines in new browser tabs by right click the links then Open in New Tab. </p>
<p>After checking all of a given event details you can just mark it as seen. It will be avaiable for later inspection
through the Logs entry at: Home -&gt; Me -&gt; Logs</p>
<p><img alt="events-1" src="/static/help/events-1.png" /></p>
<p>You'll be able to filter events based from a start and end date:</p>
<p><img alt="events-2" src="/static/help/events-2.png" /></p>
<h3>Timeline Members</h3>
<p>Timeline members can be added/removed either by the timeline owner or existing members of the timeline.</p>
<p>For adding/removing users from a timeline click on the timeline link then : Settings.</p>
<p><img alt="timeline-members-0" src="/static/help/timeline-members-0.png" /></p>
<p>You would get:</p>
<p><img alt="timeline-members-1" src="/static/help/timeline-members-1.png" /></p>
<p>You can look up users from your current organization. The search can be based on tag, name or e-mail.</p>
<p>By tag:</p>
<pre><code>tag:developer + tag:python
</code></pre>
<p>By name:</p>
<pre><code>user_name
</code></pre>
<p>By e-mail:</p>
<pre><code>user@domain.com
</code></pre>
<p>After adding/removing an user he/she will get notified through an event.</p>
<h3>Post Filter</h3>
<p>Posts contain information that is displayed on it is possible to filter a posts over a timeline
based on the following attributes: </p>
<p><strong>Owner:</strong> 
The user who has created the post.</p>
<p><strong>Worker:</strong> 
The users who were assigned to the post.</p>
<p><strong>Created:</strong>
When the post was created.</p>
<p><strong>Tag:</strong> 
The tags the post contain.</p>
<p><strong>Comment:</strong>
The comments it contains.</p>
<p><strong>Label:</strong>
The post label content.</p>
<p><strong>Data:</strong>
The post markdown content.</p>
<p>Splittask implements a simplistic and powerful filtering mechanism. The best way to explain
how it works it is through examples.</p>
<p>In a given timeline main toolbar click on Filter:</p>
<p><img alt="post-filter-0" src="/static/help/post-filter-0.png" /></p>
<p><strong>Note:</strong> When the timeline post filter has a strike line on it means it is not on.
In such a situation then just active posts will be displayed. An active post is a
post that wasn't archived.</p>
<p><img alt="post-filter-1" src="/static/help/post-filter-1.png" /></p>
<p>Make sure you have Status checkbox marked otherwise it will remain deactivated.</p>
<h4>Simplest Case</h4>
<p>The simplest case it is when you're searching over the attributes: Label and Data.</p>
<p><img alt="post-filter-2" src="/static/help/post-filter-2.png" /></p>
<p>After pressing Setup you would end with merely:</p>
<p><img alt="post-filter-3" src="/static/help/post-filter-3.png" /></p>
<p>You could type as pattern several combinations:</p>
<pre><code>this is + creat

this is a + crea

th + is is + created

created + this

created + this is + a
</code></pre>
<p>All of the above examples would work as in the first pattern example.
It will display on the timeline all posts whose attributes label and data contains
the matching sequence of words</p>
<h4>Filtering by Post Owner Attribute</h4>
<p>Suppose you want to filter all posts that someone has created, what would you do?
Well, just set the following pattern:</p>
<pre><code>owner:name-of-the-person
</code></pre>
<p>Assuming the person is named oliver you could merely do:</p>
<pre><code>owner:oliver
</code></pre>
<p>and it would list all posts oliver has created.</p>
<p>You can as well filter by the post owner e-mail with:</p>
<pre><code>owner:person-e-mail
</code></pre>
<p>So you could do something like:</p>
<pre><code>owner:oliver@domain.com
</code></pre>
<p>The filter attributes are accumulative, so you could do as well:</p>
<pre><code>owner:fud + owner:main + owner:com
</code></pre>
<p>It would match all posts whose owner contains the string "fod" and "main" and "com"</p>
<h4>Filtering by Tag Attribute</h4>
<p>Tags can be added to posts thus allowing better classification of content.</p>
<p>Example:</p>
<pre><code>tag:bug + tag:django
</code></pre>
<p>The above example would filter all posts that contains the tags bug and django.</p>
<p>Example:</p>
<pre><code>rocket engine + tag:bug + project
</code></pre>
<p>The above example would match all posts that contains the string "rocket engine"
and the tag bug as well as the string "project" either in the post label or post markdown
content.</p>
<p><strong>Tip:</strong> You can use the '+' sign to mix all kind of post attribute when filtering.</p>
<p>Example:</p>
<pre><code>tag:python + owner:iury
</code></pre>
<p>The above example would match all posts that is related to python and the creator is
a guy named iury.</p>
<p>Notice you could do as well:</p>
<pre><code>tag:python + owner:oliveira@domain.comm
</code></pre>
<p>Assuming the iury's guy e-mail was "oliveira@domain.com".</p>
<p>You can try eccentric patterns like:</p>
<pre><code>tag:pythn owner:oli + owner:.com
</code></pre>
<p>Which would match all posts that contain the tag python and the owner contains
the string "oli" and ".com" in its name or e-mail.</p>
<h4>Filtering by other attributes</h4>
<p>It is possible to mix up other attributes like:</p>
<pre><code>created:2018 + created:17 + tag:bug + owner:iury + rocket engine
</code></pre>
<p>You can combine with post comments too:</p>
<pre><code>owner:iury + comment:how to + comment:solve
</code></pre>
<p>Remember the attribute values are accumulative. In the above example it would find
all posts whose owner is iury and it contains one comment that contains the strings "how to" and "solve"
regardless of the order. Thus the above pattern is equivalent to:</p>
<pre><code>owner:iury + comment:solve + comment:how to
</code></pre>
<h3>Timeline Filter</h3>
<p>Timeline filters are a very handy feature. Timeline filters are mostly useful when
the timeline names/descriptions follow a defined format. </p>
<p>Consider the situation that you have many projects and you're handling all them
in a single organization.</p>
<p>You could set your your project timeline's descriptions as: /Projects/Projectname</p>
<p><img alt="timeline-filter-0" src="/static/help/timeline-filter-0.png" /></p>
<p>Then whenever you want to view a given set of timelines that is related to a given project
you click on Home from the main view then Filter.</p>
<p><img alt="timeline-filter-1" src="/static/help/timeline-filter-1.png" /></p>
<p>You would get:</p>
<p><img alt="timeline-filter-2" src="/static/help/timeline-filter-2.png" /></p>
<p>Just insert your project path and click setup it will display just the timelines
whose description/name match your pattern. Make sure you have Status checkbox
marked otherwise the filter will not be actived.</p>
<h3>Task Searching</h3>
<p>When someone is assigned to a post then it becomes a task. It is possible
to do task searching by clicking on: Tasks </p>
<p><img alt="task-searching-0" src="/static/help/task-searching-0.png" /></p>
<p>After that you would get:</p>
<p><img alt="task-searching-1" src="/static/help/task-searching-1.png" /></p>
<p>If you mark as checked the item All Tasks then you'll be able to search
through all tasks from all timelines that you're a member.</p>
<p>If you select Created By Me then the search scope consists of all posts
that you have created and you belong to their timelines. </p>
<p>When searching with Assigned to Me it allows you to find tasks that you're assigned regardless
if you belong to their timelines.</p>
<h3>Global Post Search</h3>
<p>Splittask uses the same filter mechanism as in filtering timeline posts for searching for posts
globally, it means over all timelines that you're in.</p>
<p>Just click on: Home -&gt; Find </p>
<p>Then you'll get:</p>
<p><img alt="global-post-search-0" src="/static/help/global-post-search-0.png" /></p>
<p>Setup a pattern, if you want to search for archived posts only just leave the Done checkbox marked.</p>
<h3>Organization Invites</h3>
<h3>Organization Admins</h3>
<p>Organization admins are allowed to send invites and remove members. They aren't allowed to remove
other admins. Just the organization owner has the power for turning a regular user into an admin as well
as removing its status.</p>
<p>The organization owner can manage its admins by clicking on : Home -&gt; Admins</p>
<p><img alt="organization-admins-0" src="/static/help/organization-admins-0.png" /></p>
<p>Then it would be shown to you a list of current admins and regular users:</p>
<p><img alt="organization-admins-1" src="/static/help/organization-admins-1.png" /></p>
<p>You can search organization users by using tags or the default attributes
like name and email.</p>
<p>You could do things like:</p>
<pre><code>tag:dev + tag:per + tag:py + .com
</code></pre>
<p>It would list prolly all python developers whose e-mail or name ends with the string '.com'.</p>
<h3>Organization User Removal</h3>
<p>For removing a given user just click on: Home -&gt; Members</p>
<p><img alt="organization-user-removal-0" src="/static/help/organization-user-removal-0.png" /></p>
<p>Then just select the user:</p>
<p><img alt="organization-user-removal-1" src="/static/help/organization-user-removal-1.png" /></p>
<p>You will be shown a list of timelines that you'll turn into the owner.</p>
<p><img alt="organization-user-removal-2" src="/static/help/organization-user-removal-2.png" /></p>
<h3>Timeline Deletion/Renaming</h3>
<p>For deleting a timeline just get inside the timeline and press: Settings</p>
<p><img alt="timeline-deletion-0" src="/static/help/timeline-deletion-0.png" /></p>
<p>You would get:</p>
<p><img alt="timeline-deletion-1" src="/static/help/timeline-deletion-1.png" /></p>
<p>From there you can rename the timeline or just delete it. If you press
Delete button then you'll be prompted to confirm the timeline name.</p>
<h3>Organization Deletion/Renaming</h3>
<p>When an organization is no longer necessary it is possible to delete it by clicking on: Home -&gt; Settings</p>
<p><img alt="organization-deletion-0" src="/static/help/organization-deletion-0.png" /></p>
<p>You would get:</p>
<p><img alt="organization-deletion-1" src="/static/help/organization-deletion-1.png" /></p>
<p>From there you can either delete the organization or rename it.</p>
<p>After pressing Delete button you'll be asked to confirm the deletion by
inserting the organization name.</p>