{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

<h5>
<span class="glyphicon glyphicon-remove text-danger"></span>

Delete all clipboard cards/posts?
</h5>

</div>


<div class="modal-body">
<p class="text-danger"> The data will be no longer available, are you sure? </p>
</div>

<div class="modal-footer">

<button  type="button"  data-show="{% url 'core_app:delete-all-clipboard'  %}"
class="btn btn-danger s-modal"> {% trans "Delete" %} </button>

<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

</div>



