{% load bootstrap3 %}

{% load i18n %}

<div class="modal-header">
<button type="button"  class="close" data-dismiss="modal">&times;</button>
Create Tag
</div>

<div class="modal-body">
<form id="form-tag-data" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.name  size='md' %}
{% bootstrap_field form.description  size='md' %}

{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>

<div class="modal-footer">
{% block buttons %}
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

<button  type="button" data-form="#form-tag-data"  data-show="{% url 'core_app:create-tag' %}" 
class="btn btn-default m-post">  {% trans "Create" %} </button>
{% endblock %}

</div>




