{% load bootstrap3 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Opus</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
  <div class="jumbotron">
    <h1>Opus</h1> 

<h4 class="text-warning"> Your default organization <b> {{user.default.name}}</b>'s account was disabled. 
<br>
<small> Set other organization as default! </small>
</h4> 

<a class="text-danger" href="#"> Leave organization? </a>

<br>

<div class="pull-right">
<a href="{% url 'core_app:switch-organization' other.id %}" > Switch default organization? </a>

</div>

</div>
</div>


</body>
</html>






