{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.name}}">

<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a>has tagged 

<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.peer.email}}"  data-content="{{event.user.name}}">

<span class="glyphicon glyphicon-user"></span>

{{event.peer.name}} </a>

with  {{event.tag.name}}  

on {{event.created}}

{% endblock %}










