{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.name}}">

<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a>has deleted tag 

{{event.tag_name}} : {{event.tag.description}}

on {{event.created}}

{% endblock %}









