{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.name}}">
<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a>
has invited {{event.peer.email}} to join

{{event.organization.name}}  

on {{event.created}}

{% endblock %}







