{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}

<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.peer.email}}"  data-content="{{event.user.name}}">
<span style="color:red"> <span class="glyphicon glyphicon-user"></span>

{{event.peer.name}} </span> </a> removed from

<span class="glyphicon glyphicon-flag"></span> {{event.organization.name}}  by 

<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.name}}">
<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a> 

on {{event.created}}
{% if event.reason %}
<b> :{{event.reason}} </b>
{% endif %}

{% endblock %}










