<!DOCTYPE html>
{% load i18n %}
{% load jsim %}

<html lang="en">
<head>
<title>Splittask</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/input-extensions.js"> </script>

<link rel="stylesheet" href="/static/opus-main.css">
<link rel="stylesheet" href="/static/pygments.css">

{% block initializer %}
<script>
$(document).ready(function() {
    $('#main-view').load("{% url 'timeline_app:list-timelines' %}");
});

$(function () {
    $('[data-toggle="popover"]').popover()
})

// $(document).ready(function(){
// $('body').tooltip({
    // selector: '[data-toggle="tooltip"]'
// });
// });
</script>
{% endblock %}

{{user.ws_connection | safe}}

<script>
$(document).on('ws-bell', function alertSound(e, sender) {
    var audio = new Audio('/static/event-alert.mp3');
    audio.play();
});

$(document).on('ws-sound', function alertSound(e) {
    var audio = new Audio('/static/event-alert.mp3');
    audio.play();
    $('a.eventsButton').addClass('new-events');
});

$(document).on('ws-alert-event', function alertEvent(e) {
    $('a.eventsButton').addClass('new-events');
});

</script>

</head>

<body>
{% jsim %}

<br>
<div class="clearfix"></div>

<div class="container-fluid">
<a class="e-get" data-show="{% url 'timeline_app:list-timelines' %}" 
data-shell="#main-view"  "
href="#"><span class="glyphicon glyphicon-home"></span>  <b> Home </b></a>

<a class="e-get eventsButton text-success" data-show="{% url 'core_app:list-events' %}" 
data-shell="#smallModalContent"  data-callback="$('#modal').modal('show');$('.eventsButton').removeClass('new-events')"
href="#"><span class="glyphicon glyphicon-bell"></span>  <b> Events </b></a>

<a class="b-modal text-warning"  href="#" data-show="{% url 'post_app:list-all-tasks' %}">
<span class="glyphicon glyphicon-tasks"></span> <b> Tasks </b>
</a>

<a class="b-modal text-info" href="#" data-show="{% url 'post_app:find' %}" >
<span class="glyphicon glyphicon-search"></span> <b> Find </b> </a>

<div id="main-view" > </div>

</div>

</body>

</html>











