{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4>
<span class="glyphicon glyphicon-paperclip"></span>

Clipboard 
<span class="badge">{{total}}</span>
</h4>
</div>


<div class="modal-body">

<h4> 
<span class="glyphicon glyphicon-file"></span>

Posts </h4>

<div class="pre-scrollable">

{% for ind in posts %}
<p> 
<span class="glyphicon glyphicon-file"></span>
{{ind.label}} 
<br>
<a class="s-modal" data-show="{% url 'post_app:undo-clipboard' ind.id %} "
href="#"> <span class="glyphicon glyphicon-repeat"></span> Undo</a>

</p>

{% empty %}
No posts.
{% endfor %}

</div>
</div>

<div class="modal-footer">
<button  type="button"  data-show="{% url 'core_app:confirm-clipboard-deletion' %}"
class="btn btn-default s-modal"> {% trans "Delete all?" %} </button>

<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

</div>










