{% load bootstrap3 %}
{% load i18n %}
{% load static %}
{% load avatar %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

<h4> <a style="font-size:110%" class="s-modal" data-show="{% url 'core_app:invite-organization-user' organization.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> </a> {{organization.name}}'s Members  
<span class="badge">{{count}}/{{total}}</span> </h4>
</div>

<div class="modal-body">
<div class="pre-scrollable">
<table class="table table-condensed table-bordered">

{% for ind in users %}
<tr id="user-choice-{{ind.id}}" style="font-size:80%">
<td style="width:70px;height:80">
<img style="margin:auto" class="img-responsive" src="{% avatar ind.avatar %}" />
</td>

<td> 
<span class="glyphicon glyphicon-user"></span> {{ind.name}}  

<p> {{ind.email}}  </p>

<a href="#" data-show="{% url 'timeline_app:manage-user-timelines' ind.id %}" class="s-modal">
<span class="glyphicon glyphicon-share"></span> Timelines  </a>

<a href="#" data-show="{% url 'core_app:manage-user-tags' ind.id %}" class="s-modal">
<span class="glyphicon glyphicon-tag"></span>  Tags  </a>
<br>
<a href="#" data-show="{% url 'core_app:remove-organization-user' ind.id %}" class="s-modal text-danger">
<span class="glyphicon glyphicon-remove"></span> Remove  </a>

</td>
</tr>
{% endfor %}

</table>
</div>

<hr>


<form id="list-user-search-form" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.pattern  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}

</form>

<a href="#" data-show="{% url 'core_app:list-invites' %}" class="s-modal"> 
 <span class="glyphicon glyphicon-send"></span> Invites </a>
</div>

<div class="modal-footer">

<button  type="button" data-form="#list-user-search-form" 
data-show="{% url 'core_app:list-users' organization.id  %}"
class="btn btn-default m-post"> {% trans "Filter" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>

