{% load i18n %}
{% load listutils %}

{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4>  
<a class="e-get"
data-show="{% url 'core_app:create-tag' %}"
data-shell="#smallModalContent"
href="#"> <span class="glyphicon glyphicon-plus"></span></a>
{{organization.name}}'s Tags <span class="badge">{{tags.count}}</span></h4>
</div>

<div class="modal-body">

<div class="pre-scrollable">
{% for ind in tags %}
<p id="delete-tag-{{ind.id}}">
<a class="e-get" style="color:red"
data-callback="$('#delete-tag-{{ind.id}}').remove();"
data-show="{% url 'core_app:delete-tag' ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> </a>

<b> {{ind.name}} </b> {{ind.description}} </p>
{% empty %}
No tags.
{% endfor %}

</div>

<br>
<form id="tagSearchForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' layout='inline' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>

</div>

<div class="modal-footer">
<button  type="button" data-show="{% url 'core_app:update-organization' organization.id  %}"
class="btn btn-default s-modal"> {% trans "Back" %} </button>

<button  type="button" data-form="#tagSearchForm" data-show="{% url 'core_app:list-tags'  %}"
class="btn btn-default m-post"> {% trans "Search" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>
</div>

