{% load i18n %}
{% load bootstrap3 %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4>  
<span class="glyphicon glyphicon-bell"></span>

{{organization.name}}'s Events <span class="badge">{{count}}</span></h4>
</div>

<div class="modal-body">
<div class="container-fluid">
{{ elems | safe }}
</div>

</div>


</div>

<div class="modal-footer">
<div class="pull-left">
<a class="text-warning s-modal" data-show="{% url 'core_app:all-seen' %}" href="#">  
<span class="glyphicon glyphicon-bell"></span> All seen?</a>
</div>
<br>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>
</div>




