{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

<h4> <a style="font-size:110%" class="s-modal" data-show="{% url 'core_app:invite-organization-user' organization.id %}" href="#"> 
<span class="glyphicon glyphicon-send"></span> </a> Sent Invites
</h4>
</div>

<div class="modal-body">
<div class="pre-scrollable">

{% for ind in invites %}
<p>

<a href="#" data-show="{% url 'core_app:cancel-invite' ind.id %}" class="s-modal">
<span class="text-danger glyphicon glyphicon-remove"></span> </a>
{{ind.user.email}} 
<a href="#" data-show="{% url 'core_app:resend-invite' ind.id %}" class="s-modal">
Resend</a>

<br>
<small> Sent on {{ind.created}} </small>
</p>
{% endfor %}

</div>
</div>

<div class="modal-footer">
<button  type="button" data-show="{% url 'core_app:list-users' organization.id  %}"
class="btn btn-default s-modal"> Back </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>


