{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Available {{user.name}}'s tags </h5>
</div>

<div class="modal-body">

<div class="pre-scrollable">

{% for ind in included %}
<p id="unbind-user-tag-{{ind.id}}" > <a class="e-get" style="color:red"
data-callback="$('#unbind-user-tag-{{ind.id}}').remove();"
data-show="{% url 'core_app:unbind-user-tag' user.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> </a>  
<b> {{ind.name}} </b>
{{ind.description}} 
</p>
{% endfor %}

{% for ind in excluded %}
<p id="bind-user-tag-{{ind.id}}">

<a class="e-get"
data-callback="$('#bind-user-tag-{{ind.id}}').remove();"
data-show="{% url 'core_app:bind-user-tag' user.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> </a>  
<b>{{ind.name}} </b>

{{ind.description}} 
</p>
{% endfor %}

</div>

<br> 

<form id="tagSearchForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' layout='inline' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>

<div class="modal-footer">
<button  type="button" data-show="{% url 'core_app:list-users' me.default.id  %}"
class="btn btn-default s-modal"> {% trans "Back" %} </button>

<button  type="button" data-form="#tagSearchForm" 
data-show="{% url 'core_app:manage-user-tags' user.id  %}" 
class="btn btn-default m-post"> {% trans "Search" %} </button>

<button type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>


