{% load bootstrap3 %}
{% load i18n %}
{% load static %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4>
<span class="glyphicon glyphicon-search"></span>
Available {{organization.name|truncatechars:60}}'s Admins 
<span class="badge">{{count}}/{{total}}</span>
</h4>
</div>

<div class="modal-body">
<div class="pre-scrollable">
<table class="table table-condensed table-bordered">

{% for ind in included %}
<tr id="user-choice-{{ind.id}}" style="font-size:80%">
<td style="width:70px;height:80">
<img style="margin:auto" class="img-responsive" src="{{ind.avatar.url}}" />
</td>

<td> 
<span class="glyphicon glyphicon-user"></span> {{ind.name}}  

<p> {{ind.email}}  </p>

<a class="e-get" style="color:red"
data-callback="$('#user-choice-{{ind.id}}').remove();"
data-show="{% url 'core_app:unbind-organization-admin' organization.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> Remove</a>  

</td>
</tr>
{% endfor %}

{% for ind in excluded %}
<tr id="user-choice-{{ind.id}}" style="font-size:80%">
<td style="width:70px;height:80">
     <img style="margin:auto" class="img-responsive" src="{{ind.avatar.url}}" />
</td>
<td> 
<span class="glyphicon glyphicon-user"></span> {{ind.name}}  

<p> {{ind.email}}  </p>

<a class="e-get"
data-callback="$('#user-choice-{{ind.id}}').remove();"
data-show="{% url 'core_app:bind-organization-admin' organization.id ind.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> Bind </a> 

</td>
{% endfor %}

</table>
</div>

<br>

<form id="userSearchForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.pattern  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>

<div class="modal-footer">

<button  type="button" data-form="#userSearchForm" 
data-shell="#smallModalContent" id="userSearchFormSubmit"
data-shell-error="#smallModalContent" data-show="{% url 'core_app:manage-organization-admins'  %}"
class="btn btn-default e-post"> {% trans "Search" %} </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>

<script>
$('#userSearchForm').on('submit', (function(e){
    e.preventDefault();
        $('#userSearchFormSubmit').click();

}));
</script>




