{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-remove"></span> Remove {{user.name}}?
</h5>
</div>

<div class="modal-body">
<p class="text-danger"> You're about remove {{user.name}}! 
<div class="text-info"> You will own the timelines: </div> </p>

<div class="pre-scrollable">
{% for ind in timelines %}
<p> <span class="glyphicon glyphicon-eye-open"></span>  {{ind.name}} </p>
{% empty %}
<p> No timelines...</p>
{% endfor %}
</div>

<form id="actionReasonForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.reason  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

<div class="modal-footer">
<button type="button" class="btn btn-default" 
data-dismiss="modal">Cancel</button>

<button type="button" data-form="#actionReasonForm" 
data-show="{% url 'core_app:remove-organization-user' user.id %}" class="btn btn-danger m-post"> 
     {% trans "Remove" %}
</button>




