{% extends "core_app/create-organization.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}
<h4> <span class="glyphicon glyphicon-cog"></span>
{{organization.name}}'s Settings </h4>
{% endblock %}

{% block formfields %}
{% bootstrap_field form.name  size='md' %}

{% endblock %}

{% block buttons %}
<button  type="button" 
data-show="{% url 'core_app:delete-organization' organization.id %}"
class="btn btn-danger s-modal">
{% trans "Delete" %}
</button>

<button  type="button" data-form="#form-organization-data" 
data-callback="location.reload()" 
data-shell-error="#smallModalContent" data-show="{% url 'core_app:update-organization' organization.id %}"
class="btn btn-default e-post"> 
     {% trans "Update" %}
</button>

{% endblock %}

















