{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<span class="glyphicon glyphicon-remove"></span> Delete organization 

{{organization.name|truncatechars:60}}?
</div>

<div class="modal-body">
<p class="text-warning"> Type your old password and the new one!</p>

<form id="passwordForm" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.old  size='md' %}
{% bootstrap_field form.password  size='md' %}
{% bootstrap_field form.retype  size='md' %}

{% bootstrap_form_errors form type='non_fields' %}
</form>

<div class="modal-footer">
<button type="button" class="btn btn-default" 
data-dismiss="modal">Cancel</button>

<button  id="createCard" type="button" data-form="#passwordForm" 
data-show="{% url 'core_app:update-password' %}"
class="btn btn-warning m-post"> 
     {% trans "Update" %}
</button>








