{% load bootstrap3 %}
{% load i18n %}

<script>
function send_file() {
   var formData = new FormData($('#form-attachment-file-data')[0]);

   $.ajax({
   url: '{% url 'post_app:attach-file' post.id  %}', 
   type: 'POST',
   success: function(data) {
   $('#div-attachments').html(data);},
   data: formData,
   cache: false,
   contentType: false,
   processData: false});
}

$('#id_file').change(function(){
    send_file();
});

</script>

<form id="form-attachment-file-data" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.file  size='md' %}

</form>

<script>
function insertAtCursor(myField, myValue) {
    //IE support
    if (document.selection) {
        myField.focus();
        sel = document.selection.createRange();
        sel.text = myValue;
    }
    //MOZILLA/NETSCAPE support
    else if (myField.selectionStart || myField.selectionStart == '0') {
        var startPos = myField.selectionStart;
        var endPos = myField.selectionEnd;
        myField.value = myField.value.substring(0, startPos)
        + myValue
        + myField.value.substring(endPos, myField.value.length);
    } else {
        myField.value += myValue;
    }
}

function insertLink(link, defaultText) {
    var text = window.prompt("Link text?", defaultText);
	if(text !== null) {
	    var isImage = /\.(png|jpe?g|gif)$/i.test(link);
	    var w = isImage ? '!['+text+']('+link+')' : '['+text+']('+link+')';
	    insertAtCursor(document.getElementById('id_data'), w);
	}
}
</script>

<div class="panel panel-default" >
<div class="panel-body">
{% for ind in attachments %}
<a class="e-get" data-shell="#div-attachments"  href="#"
data-show="{% url 'post_app:detach-file' ind.id %}"> 
<span class="glyphicon glyphicon-remove"></span></a>
<a href="#" onclick="insertLink('{{ind.file.url}}', '{{ind.file.name}}')">{{ind.file.name}}</a>
<br>
{% empty %}
No file chosen.
{% endfor %}
</div>
</div>



