
{% extends "post_app/create-post.html" %}
{% load i18n %}

{% block buttons %}
<button  type="button" data-callback="$('#bigModal').modal('toggle');" 
data-show="{% url 'post_app:cancel-post-creation' fork.id %}"
class="btn btn-default e-get"> 
     {% trans "Cancel" %}
</button>

<button  type="button" data-form="#form-post-data" 
data-shell="#main-view" data-show="{% url 'post_app:create-fork' ancestor.id post.id fork.id %}"
class="btn btn-default m-post-close"> 
{% trans "Fork" %}
</button>

<script>

</script>


{% endblock %}













