{% load bootstrap3 %}
{% load i18n %}

<form id="form-post-data" enctype="multipart/form-data">

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

{% bootstrap_field form.label  size='md' %}

</div>

<div class="modal-body">

{% csrf_token %}

{% bootstrap_field form.data  size='md' %}

{% bootstrap_form_errors form type='non_fields' %}

<div id="div-attachments">
</div>
<script>
$('#div-attachments').load('{% url 'post_app:attach-file' post.id %}');
</script>


</div>
</form>

<div class="modal-footer">
{% block buttons %}
<button  type="button" data-callback="$('#bigModal').modal('toggle');" 
data-show="{% url 'post_app:cancel-post-creation' post.id %}"
class="btn btn-default e-get"> 
     {% trans "Cancel" %}
</button>

<button id="createPost" type="button" data-form="#form-post-data" 
data-shell="#main-view" data-show="{% url 'post_app:create-post' ancestor.id post.id %}"
class="btn btn-default m-post-close"> 
     {% trans "Create" %}
</button>

{% endblock %}
</div>





