{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.name}}">

<span class="glyphicon glyphicon-user"></span> {{user.name}} 
{{event.user.name}} </a> has tagged post

<a class="e-get"
data-callback="$('#modal').modal('toggle');" 
data-shell="#main-view"
data-show="{% url 'post_app:post' event.post.id %}" href="{{event.post.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.post.label|truncatechars:60}} </a>  

with
<span class="glyphicon glyphicon-tag"></span> {{event.tag.name}} on timeline 

<a class="e-get"
data-callback="$('#modal').modal('toggle');" 

data-shell="#main-view"
data-show="{% url 'timeline_app:list-posts' event.ancestor.id %}" href="{{event.ancestor.get_link_url}}"> 
<span class="glyphicon glyphicon-share"></span> {{event.ancestor.name}} 
</a>

on {{event.created}}

{% endblock %}


















