{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.name}}">
<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a>
has forked post

<a class="e-get"
data-callback="$('#modal').modal('toggle');" 
data-shell="#main-view"
data-show="{% url 'post_app:post' event.post.id %}" 
href="{{event.post.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.post.label|truncatechars:40}} </a> 


to fork

<a class="e-get"
data-callback="$('#modal').modal('toggle');" 
data-shell="#main-view"
data-show="{% url 'post_app:post' event.fork.id %}" 
href="{{event.fork.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.fork.label|truncatechars:40}}
</a>

on {{event.created}}

{% endblock %}

















