{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
Post
<a class="e-get"
data-callback="$('#modal').modal('toggle');" 
data-shell="#main-view"
data-show="{% url 'post_app:post' event.post.id %}"
href="{{event.post.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{event.post.label|truncatechars:60}} </a> created on timeline

<a class="e-get"
data-callback="$('#modal').modal('toggle');" 

data-shell="#main-view"
data-show="{% url 'timeline_app:list-posts' event.timeline.id %}" href="{{event.timeline.get_link_url}}"> 
<span class="glyphicon glyphicon-share"></span> {{event.timeline.name}} </a>  by 

<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.name}}">

<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a> on {{event.created}}

{% endblock %}




















