{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}

Post <span style="color:red"> <span class="glyphicon glyphicon-file"></span>
{{event.post_label}}</span> deleted on timeline

<a class="e-get"
data-shell="#main-view"
data-callback="$('#modal').modal('toggle');" 
data-show="{% url 'timeline_app:list-posts' event.timeline.id %}" href="{{event.timeline.get_link_url}}"> 
<span class="glyphicon glyphicon-share"></span> {{event.timeline.name}} </a>  by 

<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.name}}">

<span class="glyphicon glyphicon-user"></span>

{{event.user}} </a> on {{event.created}}

{% endblock %}










