{% load bootstrap3 %}
{% load i18n %}

{% for ind in elems %}
<p>
<a class="e-get" data-shell="#main-view" 
data-show="{{ind.get_absolute_url}}"
data-dismiss="modal" 
href="{{ind.get_link_url}}" > 
<span class="glyphicon glyphicon-file"></span>
{% if ind.done %} (Done) {% endif %}

{{ind.label}} </a> 
<br>
<small> On <span class="glyphicon glyphicon-share"></span> {{ind.ancestor.name}} </small>
</p>

{% endfor %}




