{% load bootstrap3 %}
{% load i18n %}


<div id="view-data">
<div class="modal-header">
<button type="button"  class="close" data-dismiss="modal">&times;</button>
<h4> 
<span class="glyphicon glyphicon-search"></span>

Find Posts 
<span class="badge">{{count}}/{{total}}</span><h4>
</div>

<div class="modal-body">

{{elems|safe}}

<hr>
<form id="find-card-search-form" enctype="multipart/form-data">
{% csrf_token %}

{% bootstrap_field form.pattern  size='md' %}
{% bootstrap_field form.done  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

</div>
</div>

<div class="modal-footer">
<button  type="button" data-form="#find-card-search-form" 
data-show="{% url 'post_app:find'  %}" class="btn btn-default m-post"> {% trans "Filter" %} </button>

<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

