{% load i18n %}
{% load bootstrap3 %}

{% for ind in elems %}
<p>

<a 
data-shell="#main-view"
data-callback="$('#bigModal').modal('toggle');" 
data-show="{{ind.get_absolute_url}}"
class="e-get text-warning" href="{{ind.get_link_url}}" >
<span class="glyphicon glyphicon-file"></span> 
{% if ind.done %}
(Done)
{% endif %}

{{ind.label}}
</a>

<br>
<small> On <span class="glyphicon glyphicon-share"></span> {{ind.ancestor.name}} </small>

</p>

{% endfor %}



