{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4> 
<span class="glyphicon glyphicon-user"></span>
{{peer.name}}</h4>  
<h5> ({{peer.email}})</h5>
</div>

<div class="modal-body">
<p>
Assigned by <span class="glyphicon glyphicon-user"></span>
{{user.name}} <small> ({{user.email}})</small>

 at {{created}}
</p>

<p>
<b> Active/Tasks: {{active_tasks}} </b>
</p>

<p>
<b> Done/Tasks: {{done_tasks}} </b>
</p>

{% if not peer in post.ancestor.users.all %}
<p class="text-warning"> *Not in 
<span class="glyphicon glyphicon-share"></span>
{{post.ancestor.name}}*  </p>

{% endif %}

<a href="#" data-show="{% url 'post_app:request-post-attention' peer.id post.id %}" class="s-modal"> 
Request attention through e-mail? </a>

</div>

<div class="modal-footer">
<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>
</div>






