{% load i18n %}
{% load static %}

<div id="post-{{post.id}}">

<div class="panel panel-default" >
<div class="panel-heading clearfix" > 

<div style="word-wrap: break-word;"> 
<span class="glyphicon glyphicon-file"></span>

Post by  <a href="#" data-toggle="popover" data-trigger="hover" title="{{post.user.email}}"  data-content="{{post.user.name}}">
<span class="glyphicon glyphicon-user"></span> {{post.user.name}} </a> 
on 

<a class="e-get" href="{{ post.ancestor.get_link_url }}"
data-show="{% url 'timeline_app:list-posts' post.ancestor.id %}"
data-shell="#main-view" > 
<span class="glyphicon glyphicon-share"></span> {{post.ancestor.name}} </a>

at <a href="{% url 'post_app:post-link' post.id %}" target="_blank"> {{post.created}} </a>

{% if post.done %}
(Done)

{% endif %}

</div>
</div>

<div class="panel-body" >
<div style="word-wrap: break-word;"> 

<h5> {{post.label}} </h5>
{{post.html | safe}} 

<span style="font-size:90%">
{% for ind in post.postfilewrapper_set.all %}
<a href="{{ ind.file.url }}" target="_blank">
<span class="glyphicon glyphicon-file"></span>
{{ind.file.name}} </a>
{% empty %}
No attachment.
{% endfor %}
</span>

</div>

<div class="row">
<div class="col-md-4">
<h5> <span class="glyphicon glyphicon-random"></span> Forks </h5>

<div class="pre-scrollable" style="font-size:90%">

{% for ind in post.forks.all %}
<a data-shell="#main-view" data-show="{% url 'post_app:post' ind.id %}" class="e-get" href="{{ind.get_link_url}}">
<span class="glyphicon glyphicon-random"></span>
{% if ind.done %} (Done) {% endif %}
{{ind.label}}
</a>
<br>
{% empty %}
No forks.
{% endfor %}
</div>
</div>

<div class="col-md-4">
<h5> <span class="glyphicon glyphicon-arrow-up"></span> Parents </h5>

<div class="pre-scrollable" style="font-size:90%">

{% for ind in post.path.all %}
<a data-shell="#main-view" data-show="{% url 'post_app:post' ind.id %}" class="e-get" href="{{ind.get_link_url}}">
<span class="glyphicon glyphicon-random"></span>
{% if ind.done %} (Done) {% endif %}
{{ind.label}}
</a>
<br>

{% empty %}
No parents.
{% endfor %}
</div>
</div>

<div class="col-md-2">
<h5> 
<span class="glyphicon glyphicon-tag"></span>
Tags </h5>

<div class="pre-scrollable" style="font-size:90%">

{% for ind in post.tags.all %}
<a data-show="{% url 'post_app:post-tag-information' ind.id post.id %}" class="s-modal" href="#">
<span class="glyphicon glyphicon-tag"></span>

{{ind.name}}
</a>

{% empty %}
No tags.
{% endfor %}
</div>
</div>

<div class="col-md-2">
<h5> 
<span class="glyphicon glyphicon-user"></span>

Workers </h5>

<div class="pre-scrollable" style="font-size:90%">
{% for ind in post.workers.all %}
<a data-show="{% url 'post_app:post-worker-information' ind.id post.id %}" class="s-modal" href="#">
<span class="glyphicon glyphicon-user"></span>

{{ind.name}}
</a>

{% if forloop.last %} 
<br>
<a class="s-modal text-warning" href="#" data-show="{% url 'post_app:alert-post-workers' post.id %}">
<span class="glyphicon glyphicon-alert"></span>

Alert workers?</a>

{% endif %}

{% empty %}
No workers.
{% endfor %}
</div>

</div>

</div> 

</div>



<div class="panel-footer">
{% block footer %}

<a href="#" data-show="{% url 'post_app:update-post' post.id %}"
class="text-warning b-modal">  <span class="glyphicon glyphicon-edit"></span> Update</a>

<a href="#" data-show="{% url 'post_app:manage-post-workers' post.id %}"
class="text-info s-modal"><span class="glyphicon glyphicon-user"> </span> Assign </a>

<a href="#" data-show="{% url 'comment_app:list-comments' post.id %}"
class="text-info b-modal"><span class="glyphicon glyphicon-comment"></span> Comment </a>

<a class="text-danger s-modal" href="#" data-show="{% url 'post_app:confirm-post-deletion' post.id %}">
<span class="glyphicon glyphicon-remove"></span> Delete  </a>

{% if post.done %}
<a href="#" data-shell="#post-{{post.id}}" data-show="{% url 'post_app:undo' post.id %}"
class="text-warning text-default e-get"><span class="glyphicon glyphicon-ok"></span> Undo </a>

{% else %}

<a href="#" data-shell="#post-{{post.id}}" data-show="{% url 'post_app:done' post.id %}"
class="text-warning e-get"><span class="glyphicon glyphicon-ok"></span> Done </a>
{% endif %}

<a class="text-info e-get"  href="#"
data-shell="#main-view" data-show="{% url 'post_app:copy-post' post.id %}">
<span class="glyphicon glyphicon-copy"></span> Copy </a>

<a class="text-warning e-get" href="#"
data-shell="#main-view" data-show="{% url 'post_app:cut-post' post.id %}">
<span class="glyphicon glyphicon-scissors"></span> Cut </a>

<a href="#" data-show="{% url 'post_app:manage-post-tags' post.id %}"
class="text-info s-modal"><span class="glyphicon glyphicon-tag"></span> Tags </a>

<a href="#" data-show="{% url 'post_app:select-fork-timeline' post.id %}"
class="text-info s-modal"><span class="glyphicon glyphicon-random"></span> Fork </a>

</div>

{% endblock %}
</div>
</div>

</div>











