a.new-events  {
  color: red;
  font-weight: bold;
}

.menu-organization  {
    background:#dee;
}

.menu-timeline  {
    background:#eeeeed;
}

.timeline  {
    word-wrap: 
    break-word;

    background:#eeeeed;
}

body {

background-color:#ddd;
}


.modal-body  {
    word-wrap: break-word;
}

.modal-header  {
    word-wrap: break-word;
}

