{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}

Comment 

<span class="text-info">
<span class="glyphicon glyphicon-comment"></span>

{{event.comment.data | truncatechars:40}}
</span>

 created on post

<a class="e-get"
href="{{event.post.get_link_url}}"
data-shell="#main-view"
data-callback="$('#modal').modal('toggle');" 
data-show="{% url 'post_app:post' event.post.id %}" href="#"> 
<span class="glyphicon glyphicon-file"></span>
{{event.post.label|truncatechars:60}} </a>  by 

<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.name}}">
<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a>

on {{event.created}}

{% endblock %}











