{% load bootstrap3 %}
{% load i18n %}
{% load static %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>

{% block title %}
<h4 class="modal-title">
<span class="glyphicon glyphicon-comment"></span>
Comments on post {{post.label|slice:":30"}}.. 
<span class="badge">{{records.count}}</span>
</h4>

{% endblock %}

</div>

<div class="modal-body pre-scrollable">

{% for ind in records %}
<div style="word-wrap: break-word;"> 

<p> <a href="#" data-toggle="popover" data-trigger="hover" title="{{ind.user.email}}"  data-content="{{event.user.name}}">
{{ind.user.name}}</a>

{{ind.data}} 
{% if ind.file %} 
<br>
<span style="color:red"> Attachment: </span>
<a  href="{{ ind.file.url }}"  target="_blank"> {{ind.file.name}} </a>
{% endif %}
<br>
<em class="text-info" style="font-size:70%; "> 
On {{ind.created}}</em>

</p>


</div>

{% endfor %}

</div>

<div class="modal-footer" >
<form id="postCommentForm" enctype="multipart/form-data">
{% csrf_token %}

<div id="inputPostComment">
{% bootstrap_field form.data layout='inline' size='sm' %}
{% bootstrap_field form.file layout='inline' size='sm' %}

</div>

{% block buttons %}
<button type="button" data-form="#postCommentForm" data-shell="#bigModalContent" 
data-shell-error="#bigModalContent" data-show="{% url 'comment_app:create-comment' post.id %}"
class="btn btn-default e-post">  {% trans "Send" %} </button>
{% endblock %}

</form>


</div>

<script>
$(document).ready(function() {
    $('[data-toggle="popover"]').popover();

});
</script>



