{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<span class="glyphicon glyphicon-remove"></span> Delete timeline 

{{timeline.name|truncatechars:60}}?
</div>

<div class="modal-body">
<p class="text-danger"> The content will no longer be avaiable!</p>

<form id="confirmTimelineDeletionForm" enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_field form.name  size='md' %}
{% bootstrap_form_errors form type='non_fields' %}
</form>

<div class="modal-footer">
<button type="button" class="btn btn-default" 
data-dismiss="modal">Cancel</button>

<button  id="createCard" type="button" data-form="#confirmTimelineDeletionForm"
data-shell="#main-view" data-callback="$('#modal').modal('toggle');" 
data-shell-error="#smallModalContent" data-show="{% url 'timeline_app:delete-timeline' timeline.id %}"
class="btn btn-danger e-post"> 
     {% trans "Delete" %}
</button>





