{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}

Timeline 
<span style="color:red"> 

<span class="glyphicon glyphicon-share"></span>
{{event.timeline_name}} </span> deleted by 

<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.name}}">

<span class="glyphicon glyphicon-user"></span>

{{event.user}} </a> on {{event.created}}

{% endblock %}






