{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}
<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.name}}">

<span class="glyphicon glyphicon-user"></span>
{{event.user}} </a> has pasted

{% for ind in event.posts.all %}
<a class="e-get"
data-callback="$('#modal').modal('toggle');" 
data-shell="#main-view"
data-show="{% url 'post_app:post' ind.id %}"
href="{{ind.get_link_url}}"> 
<span class="glyphicon glyphicon-file"></span>
{{ind.label|truncatechars:60}} {% if ind.task %} <b> *Task* </b> {% endif %}</a> 

{% endfor %}

on timeline 

<a class="e-get"
data-callback="$('#modal').modal('toggle');" 

data-shell="#main-view"
data-show="{% url 'timeline_app:list-posts' event.timeline.id %}" href="{{event.timeline.get_link_url}}"> 
<span class="glyphicon glyphicon-share"></span> {{event.timeline.name}} </a>  by 

 on {{event.created}}

{% endblock %}





