{% extends 'timeline_app/event.html' %}
{% load i18n %}

{% block content %}

<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.peer.email}}"  data-content="{{event.user.name}}">
<span style="color:red"> 
<span class="glyphicon glyphicon-user"></span>

{{event.peer.name}} </span> </a> unbinded from

<a class="e-get"
data-callback="$('#modal').modal('toggle');" 
data-shell="#main-view"
data-show="{% url 'timeline_app:list-posts' event.timeline.id %}" href="{{event.timeline.get_link_url}}"> 
<span class="glyphicon glyphicon-share"></span> {{event.timeline.name}} </a>  by 

<a href="#" data-toggle="popover" data-trigger="hover" title="{{event.user.email}}"  data-content="{{event.user.name}}">
<span class="glyphicon glyphicon-user"></span>

{{event.user}} </a> on {{event.created}}

{% endblock %}










