{% load i18n %}

{% for ind in elems %}
    <div id="post-shell-{{ind.id}}">
        {% include "post_app/post.html" with post=ind %}

    </div>
{% endfor %}


<script>
$(document).ready(function() {
    $('[data-toggle="popover"]').popover();

});
</script>

