{% load i18n %}

<ul class="nav nav-pills ul-menu-posts menu-organization">

<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
<span class="glyphicon glyphicon-flag"></span> {{organization.name}}
<span class="caret"></span></a>


<ul class="dropdown-menu">
<li><a class="s-modal" data-show="{% url 'core_app:create-organization' user.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> 
{% trans "Organization" %}</a></li>

{% if organizations %}
<li class="divider"></li>
{% endif %}

{% for ind in organizations %}
<li><a  href="{% url 'core_app:switch-organization' ind.id %}">
<span class="glyphicon glyphicon-flag"></span> {{ind.name}}</a></li>
{% endfor %}
</ul>
</li>

<li class="divider"></li>


<li> <a class="s-modal" href="#" data-show="{% url 'timeline_app:create-timeline' organization.id %}">
<span class="glyphicon glyphicon-plus"></span> {% trans "Timeline" %}</a></li>

<li> 
<a  class="s-modal" href="#" data-show="{% url 'timeline_app:setup-timeline-filter' organization.id %}">
{% if filter.status %} 
<span class="glyphicon glyphicon-filter"></span> Filter 
{% else %} 
<strike>  <span class="glyphicon glyphicon-filter"></span>  Filter </strike>
{% endif %}

</a> </li>

<li>
<a href="#" class="e-get" data-shell="#smallModalContent" 
data-show="{% url 'core_app:list-tags' %}" data-callback="$('#modal').modal('show');">
<span class="glyphicon glyphicon-tag"></span> Tags
</a>

</li>

<li>
<a class="s-modal" href="#" data-show="{% url 'core_app:update-organization' user.default.id %}" >
<span class="glyphicon glyphicon-cog"></span> Settings 
</a>
</li>

<li>
<a class="s-modal" href="#" data-show="{% url 'core_app:list-users' user.default.id %}">
<span class="glyphicon glyphicon-user"></span> Members </a> </li>

<li>
<a class="s-modal" href="#" data-show="{% url 'core_app:manage-organization-admins' %}">
<span class="glyphicon glyphicon-user"></span> Admins </a> </li>

<li><a class="s-modal" href="#" data-show = "{% url 'core_app:list-clipboard' %}">
<span class="glyphicon glyphicon-magnet"></span> {% trans "Clipboard" %}</a></li>


<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
<span class="glyphicon glyphicon-cog"></span> 
{% if not user.enabled %}
(Disabled)
{% endif %}
{{user.name}}

<span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a class="s-modal" href="#" data-show="{% url 'core_app:update-user-information' %}">
<span class="glyphicon glyphicon-edit"></span> Update</a></li>

<li class="divider"></li>

<li><a  href="/static/help/index.html" target="_blank"><span class="glyphicon glyphicon-book"></span> {% trans "Help" %}</a></li>
<li class="divider"></li>

<li  ><a class="s-modal" data-show="{% url 'site_app:upgrade' %}" href="#">
<span class="glyphicon glyphicon-plus"></span> {% trans "Upgrade" %}</a></li>

<li class="divider"></li>


<li>
<a class="s-modal" href="#" data-show="{% url 'core_app:list-logs'  %}" >
<span class="glyphicon glyphicon-bell"></span> Logs 
</a> </li>

<li class="divider"></li>
<li><a  href="{% url 'site_app:logout' %}"><span class="glyphicon glyphicon-log-out"></span> {% trans "Logout" %}</a></li>
</ul>

</li>

</ul>




