{% load i18n %}
{% load listutils %}

{% include "timeline_app/list-timelines-menu-organization.html" %}

<br>
{% for indi in children|partition:"4" %}
<div class="row">
{% for indj in indi %}
<div class="col-sm-3">
<div id='timeline-{{indj.id}}'>
{% include "timeline_app/timeline.html" with timeline=indj %}

</div>

</div>
{% endfor %}

</div>

{% endfor %}
<script>
$(function () {
    $('[data-toggle="popover"]').popover()
})

</script>
















