{% load bootstrap3 %}
{% load i18n %}


<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h5>
<span class="glyphicon glyphicon-search"></span>
Available {{user.name}}'s timelines </h5>
</div>

<div class="modal-body">

<div class="pre-scrollable">
{% for ind in included %}
<p id="bind-timeline-user-{{ind.id}}">
<a class="e-get" style="color:red"
data-callback="$('#bind-timeline-user-{{ind.id}}').remove();"
data-show="{% url 'timeline_app:unbind-timeline-user' ind.id user.id %}" href="#"> 
<span class="glyphicon glyphicon-remove"></span> </a> 

<b> {{ind.name}} </b>
{{ind.description}}
</p>
{% empty %}
<p> ... </p>

{% endfor %}

{% for ind in excluded %}
<p id="bind-timeline-user-{{ind.id}}">
<a class="e-get"
data-callback="$('#bind-timeline-user-{{ind.id}}').remove();console.log('oo')"
data-show="{% url 'timeline_app:bind-timeline-user' ind.id user.id %}" href="#"> 
<span class="glyphicon glyphicon-plus"></span> </a> 

<b> {{ind.name}} </b>
{{ind.description}}
</p>
{% empty %}
<p> ... </p>

{% endfor %}

</div>

<br> 
<form id="bind-timeline-search-form" enctype="multipart/form-data">

{% csrf_token %}

{% bootstrap_field form.name  size='md' layout='inline' %}

{% bootstrap_form_errors form type='non_fields' %}
</form>
</div>

<div class="modal-footer">
{% block buttons %}

<button  type="button" data-show="{% url 'core_app:list-users' me.default.id  %}"
class="btn btn-default s-modal"> {% trans "Back" %} </button>
{% endblock %}

<button  type="button" data-form="#bind-timeline-search-form" data-show="{% url 'timeline_app:manage-user-timelines' user.id  %}" 
class="btn btn-default m-post"> {% trans "Search" %}  </button>

<button  type="button" data-dismiss="modal" class="btn btn-default"> 
     {% trans "Close" %}
</button>

</div>




