<div class="panel panel-default timeline">


<div class="panel-body text-center timeline">

<p> <span class="glyphicon glyphicon glyphicon-share clip">
</span> 

<a class="e-get" href="{{timeline.get_link_url}}" data-shell="#main-view" data-show="{% url 'timeline_app:list-posts' timeline.id %}" >
{{timeline.name}} </a>
<br>

{% if timeline.description %}
{{timeline.description}}<br>
{% endif %}


By <a href="#" data-toggle="popover" data-trigger="hover" title="{{timeline.owner.email}}"  data-content="{{timeline.owner.name}}"> {{timeline.owner.name}} </a> at {{timeline.created}}
</span>

</p>

</div>
</div>
















