
{% extends "timeline_app/create-timeline.html" %}
{% load i18n %}

{% block title %}
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">
<span class="glyphicon glyphicon-cog"></span>
{{timeline.name}}'s settings</h4>
{% endblock %}

{% block buttons %}

<button  type="button"  
data-shell="#smallModalContent"
data-show="{% url 'timeline_app:delete-timeline' timeline.id %}"
class="btn btn-danger e-get"> 
{% trans "Delete" %}
</button>

<button  type="button" data-form="#form-timeline-data" 
data-shell="#main-view" data-show="{% url 'timeline_app:update-timeline' timeline.id %}"
class="btn btn-default m-post-close">  {% trans "Update" %} </button>

{% endblock %}





















