{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4> <span class="glyphicon glyphicon-heart-empty"></span> Free Plan </h4>
</div>

<div class="modal-body">

<p class="text-warning">
Are you sure you want to downgrade?
</p>

<p> Your actual limits are: <br>
<b> Total Users:  {{n_users}} </b>
<br>
<small class="text-info">  All your organization users summed up. </small>
</p>

<p> 
<b> Max Users: {{me.max_users}} </b>
</br>
<small class="text-info"> The max amount of users all your organizations can have when summed up. </small></p>

<p class="text-danger">
Your account organizations will have at most {{settings.FREE_MAX_USERS}} users when summed up.
</p>
</div>

<div class="modal-footer">
<button  type="button" data-show="{% url 'site_app:upgrade' %}"
class="btn btn-default s-modal"> {% trans "Back" %} </button>

<button  type="button" data-show="{% url 'site_app:downgrade-free' %}" 
class="btn btn-default s-modal"> {% trans "Do it!" %} </button>

</div>






