{% load bootstrap3 %}
{% load i18n %}

<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4> <span class="glyphicon glyphicon-credit-card"></span> Payment Settings </h4>

</div>
<div class="modal-body">
<p> Custom </p>

</div>



