<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" data-slide-to="1"></li>
<li data-target="#myCarousel" data-slide-to="2"></li>
<li data-target="#myCarousel" data-slide-to="3"></li>
<li data-target="#myCarousel" data-slide-to="4"></li>

</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active">
<img src="/static/opus-img1.png" style="width:100%;">
<div class="carousel-caption">
<h4 style="color:black;">
<em> Use timelines to control how information and tasks flow between your business workers. 
Delegate tasks easily to your workers and keep track of what is going on easily.
</em>
</h4>
</div>

</div>

<div class="item">
<img src="/static/opus-img2.png" style="width:100%;">
<div class="carousel-caption">
<h4 style="color:black;">
<em> 
Timeline posts can be forked into sub posts/tasks. You can easily inspect
forks and parents of a post/task.
</em>
</h4>
</div>
</div>

<div class="item">
<img src="/static/opus-img3.png" style="width:100%;">
<div class="carousel-caption">
<h4 style="color:black;">
<em> 
No matter what it happens you'll get notification, you'll be able to keep
updated with all kind of events that happens.
</em>
</h4>
</div>
</div>


<div class="item">
<img src="/static/opus-img4.png"  style="width:100%;">
<div class="carousel-caption">
<h4 style="color:black;">
<em> Create as many tags as your business demands and tag your
posts and users!
</em>
</h4>
</div>
</div>

<div class="item">
<img src="/static/opus-img5.png"  style="width:100%;">
<div class="carousel-caption">
<h4 style="color:black;">
<em> 
Search easily for posts/users by using attributes like tag, owner, worker and comment!
</em>
</h4>
</div>
</div>

</div>

<!-- Left and right controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left"></span>
<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
<span class="glyphicon glyphicon-chevron-right"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div>


