

<div class="container text-center">
<h3>Productivity is money!
<br>
<small> Usability and flexibility are our aesthetic goals. </small>
</h3> 
</div>

{% include 'site_app/features.html' %}

<div class="container text-center">
<h3> Mobile </h3>
<h5> Splittask UI works seamlessly on mobiles, no need to install applications.
Just stays logged in through your browser and get aware of what's going on with
your workers.</h5>

<h3> Multiple Organizations </h3>
<h5> Keep control of your business branches by adding multiple organizations to your account. Organizations
give you the feature to integrate all your business's branches together.</h5>

<h3> Notifications </h3>
<h5> Send notifications about tasks/posts through e-mail to your workers instantly. </h5>

<h3> Intuitive </h3>
<h5> No need to know about scrum or kanban methodologies to organize your employees. 
The UI is very succint and objective. </h5>

<h3> Tags  </h3>

<h5> The posts can be tagged thus allowing better organization of content. 
The tagging mechanism can be used when searching for content in a nifty manner.
It is possible to tag users as well it help to keep track of who is related to a given
subject.
 </h5>


<h3> Logging  </h3>
<h5> It is very simple to do auditory, you can filter events by date 
and easily check what happened. </h5>

</div>










