{% load bootstrap3 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Opus</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
<div class="jumbotron">
<h1>Opus</h1> 

<p>Retype your password {{user.name}}. </p> 

<div class="row">
<div class="col-md-5">
<form action="{% url 'site_app:redefine-password' user.id token %}" method="post">
{% csrf_token %}
{% bootstrap_field form.password  size='md' %}
{% bootstrap_field form.retype  size='md' %}

{% buttons submit='Send' layout='inline' %}{% endbuttons %}
{% bootstrap_form_errors form type='non_fields' %}

</form>

</div>
</div>
</div>
</div>


</body>
</html>


